<ng-container *ngIf="!isLoading; else elseTemplate">
  <section>
    <div class="alert alert-danger text-center" *ngIf="error">
      The given data was invalid.
    </div>
    <form class="auth-form" fxLayoutAlign="center center" fxLayout="column" #f="ngForm" (ngSubmit)="onSubmit(f)">
      <input type="hidden" name="userId" [(ngModel)]="userId">
      <div class="row">
        <div  class="col-md-3 ">
          <div class="inputForm">
              <input name="title" ngmodel
              placeholder="title" required="" type="text" required name="title">
            </div>
        </div>
        <div  class="col-md-3 ">
          <div class="inputFormTipo">
            <mat-select class="mat-select " name="negociacao" ngmodel placeholder="Selecione a negociação" required
              
              aria-label="Selecione a negociação" aria-required="true" aria-disabled="false" aria-invalid="false"
              aria-multiselectable="false">
              <div class="mat-select-trigger" aria-hidden="true" cdk-overlay-origin="">
                <div class="mat-select-value" ng-reflect-ng-switch="true">
                  <!--bindings={
            "ng-reflect-ng-switch-case": "true"
          }--><span class="mat-select-placeholder ng-tns-c11-4 ng-star-inserted">Selecione a negociação</span>
                  <!--bindings={
            "ng-reflect-ng-switch-case": "false"
          }-->
                </div>
                <div class="mat-select-arrow-wrapper">
                  <div class="mat-select-arrow"></div>
                </div>
              </div>
              <!--bindings={
            "ng-reflect-origin": "[object Object]",
            "ng-reflect-positions": "[object Object],[object Object",
            "ng-reflect-offset-y": "0",
            "ng-reflect-min-width": null,
            "ng-reflect-backdrop-class": "cdk-overlay-transparent-backdr",
            "ng-reflect-scroll-strategy": "[object Object]",
            "ng-reflect-open": "false",
            "ng-reflect-has-backdrop": "",
            "ng-reflect-lock-position": ""
          }-->
            </mat-select>
          </div>
        </div>
        <div _ngcontent-wog-c15="" class="col-md-3 ">
          <div _ngcontent-wog-c15="" class="inputFormTipo">
            <mat-select _ngcontent-wog-c15=""
              class="mat-select ng-tns-c11-5 mat-select-required mat-select-empty ng-untouched ng-pristine ng-invalid"
              name="tipo" ngmodel="" placeholder="Selecione o tipo" required="" role="listbox" ng-reflect-required=""
              ng-reflect-name="tipo" ng-reflect-model="" ng-reflect-placeholder="Selecione o tipo" id="mat-select-2"
              tabindex="0" aria-label="Selecione o tipo" aria-required="true" aria-disabled="false" aria-invalid="false"
              aria-multiselectable="false">
              <div class="mat-select-trigger" aria-hidden="true" cdk-overlay-origin="">
                <div class="mat-select-value" ng-reflect-ng-switch="true">
                  <!--bindings={
            "ng-reflect-ng-switch-case": "true"
          }--><span class="mat-select-placeholder ng-tns-c11-5 ng-star-inserted">Selecione o tipo</span>
                  <!--bindings={
            "ng-reflect-ng-switch-case": "false"
          }-->
                </div>
                <div class="mat-select-arrow-wrapper">
                  <div class="mat-select-arrow"></div>
                </div>
              </div>
              <!--bindings={
            "ng-reflect-origin": "[object Object]",
            "ng-reflect-positions": "[object Object],[object Object",
            "ng-reflect-offset-y": "0",
            "ng-reflect-min-width": null,
            "ng-reflect-backdrop-class": "cdk-overlay-transparent-backdr",
            "ng-reflect-scroll-strategy": "[object Object]",
            "ng-reflect-open": "false",
            "ng-reflect-has-backdrop": "",
            "ng-reflect-lock-position": ""
          }-->
            </mat-select>
          </div>
        </div>
        <div _ngcontent-wog-c15="" class="col-md-3 ">
          <div _ngcontent-wog-c15="" class="inputForm"><input _ngcontent-wog-c15="" name="areap" ngmodel="" required=""
              type="text" ng-reflect-required="" ng-reflect-name="areap" ng-reflect-model=""
              class="ng-untouched ng-pristine ng-invalid"><label _ngcontent-wog-c15=""
              style="background-color: white; padding: 1px">Area privativa*</label></div>
        </div>
        <div _ngcontent-wog-c15="" class="col-md-3">
          <div _ngcontent-wog-c15="" class="inputForm "><input _ngcontent-wog-c15="" name="areat" ngmodel="" required=""
              type="text" ng-reflect-required="" ng-reflect-name="areat" ng-reflect-model=""
              class="ng-untouched ng-pristine ng-invalid"><label _ngcontent-wog-c15=""
              style="background-color: white; padding: 1px">Area total*</label></div>
        </div>
        <div _ngcontent-wog-c15="" class="col-md-3">
          <div _ngcontent-wog-c15="" class="inputForm "><input _ngcontent-wog-c15="" name="numero_quartos" ngmodel=""
              required="" type="text" ng-reflect-required="" ng-reflect-name="numero_quartos" ng-reflect-model=""
              class="ng-untouched ng-pristine ng-invalid"><label _ngcontent-wog-c15=""
              style="background-color: white; padding: 1px">Quartos*</label></div>
        </div>
        <div _ngcontent-wog-c15="" class="col-md-3">
          <div _ngcontent-wog-c15="" class="inputForm "><input _ngcontent-wog-c15="" name="iptu" ngmodel="" required=""
              type="text" ng-reflect-required="" ng-reflect-name="iptu" ng-reflect-model=""
              class="ng-untouched ng-pristine ng-invalid"><label _ngcontent-wog-c15=""
              style="background-color: white; padding: 1px">IPTU*</label></div>
        </div>
        <div _ngcontent-wog-c15="" class="col-md-3 ">
          <div _ngcontent-wog-c15="" class="inputForm">
            <mat-select _ngcontent-wog-c15=""
              class="mat-select ng-tns-c11-6 mat-select-required mat-select-empty ng-untouched ng-pristine ng-invalid"
              id="garagem" name="garagem" ngmodel="" placeholder="Tem garagem?" required="" role="listbox"
              ng-reflect-required="" ng-reflect-name="garagem" ng-reflect-model="" ng-reflect-placeholder="Tem garagem?"
              ng-reflect-id="garagem" tabindex="0" aria-label="Tem garagem?" aria-required="true" aria-disabled="false"
              aria-invalid="false" aria-multiselectable="false">
              <div class="mat-select-trigger" aria-hidden="true" cdk-overlay-origin="">
                <div class="mat-select-value" ng-reflect-ng-switch="true">
                  <!--bindings={
            "ng-reflect-ng-switch-case": "true"
          }--><span class="mat-select-placeholder ng-tns-c11-6 ng-star-inserted">Tem garagem?</span>
                  <!--bindings={
            "ng-reflect-ng-switch-case": "false"
          }-->
                </div>
                <div class="mat-select-arrow-wrapper">
                  <div class="mat-select-arrow"></div>
                </div>
              </div>
              <!--bindings={
            "ng-reflect-origin": "[object Object]",
            "ng-reflect-positions": "[object Object],[object Object",
            "ng-reflect-offset-y": "0",
            "ng-reflect-min-width": null,
            "ng-reflect-backdrop-class": "cdk-overlay-transparent-backdr",
            "ng-reflect-scroll-strategy": "[object Object]",
            "ng-reflect-open": "false",
            "ng-reflect-has-backdrop": "",
            "ng-reflect-lock-position": ""
          }-->
            </mat-select>
          </div>
        </div>
        <!---->
        <div _ngcontent-wog-c15="" class="col-md-3">
          <div _ngcontent-wog-c15="" class="inputForm "><input _ngcontent-wog-c15="" name="banheiros" ngmodel=""
              required="" type="text" ng-reflect-required="" ng-reflect-name="banheiros" ng-reflect-model=""
              class="ng-untouched ng-pristine ng-invalid"><label _ngcontent-wog-c15=""
              style="background-color: white; padding: 1px">Banheiros*</label></div>
        </div>
        <div _ngcontent-wog-c15="" class="col-md-3">
          <div _ngcontent-wog-c15="" class="inputForm">
            <mat-select _ngcontent-wog-c15=""
              class="mat-select ng-tns-c11-7 mat-select-required mat-select-empty ng-untouched ng-pristine ng-invalid"
              id="garagem" name="situacao" ngmodel="" placeholder="Situação do imovel" required="" role="listbox"
              ng-reflect-required="" ng-reflect-name="situacao" ng-reflect-model=""
              ng-reflect-placeholder="Situação do imovel" ng-reflect-id="garagem" tabindex="0"
              aria-label="Situação do imovel" aria-required="true" aria-disabled="false" aria-invalid="false"
              aria-multiselectable="false">
              <div class="mat-select-trigger" aria-hidden="true" cdk-overlay-origin="">
                <div class="mat-select-value" ng-reflect-ng-switch="true">
                  <!--bindings={
            "ng-reflect-ng-switch-case": "true"
          }--><span class="mat-select-placeholder ng-tns-c11-7 ng-star-inserted">Situação do imovel</span>
                  <!--bindings={
            "ng-reflect-ng-switch-case": "false"
          }-->
                </div>
                <div class="mat-select-arrow-wrapper">
                  <div class="mat-select-arrow"></div>
                </div>
              </div>
              <!--bindings={
            "ng-reflect-origin": "[object Object]",
            "ng-reflect-positions": "[object Object],[object Object",
            "ng-reflect-offset-y": "0",
            "ng-reflect-min-width": null,
            "ng-reflect-backdrop-class": "cdk-overlay-transparent-backdr",
            "ng-reflect-scroll-strategy": "[object Object]",
            "ng-reflect-open": "false",
            "ng-reflect-has-backdrop": "",
            "ng-reflect-lock-position": ""
          }-->
            </mat-select>
          </div>
        </div>
        <div _ngcontent-wog-c15="" class="col-md-3">
          <div _ngcontent-wog-c15="" class="inputForm "><input _ngcontent-wog-c15="" name="valor_cond" ngmodel=""
              required="" type="text" ng-reflect-required="" ng-reflect-name="valor_cond" ng-reflect-model=""
              class="ng-untouched ng-pristine ng-invalid"><label _ngcontent-wog-c15=""
              style="background-color: white; padding: 1px">Valor de Condominio*</label></div>
        </div>
        <div _ngcontent-wog-c15="" class="col-md-3">
          <div _ngcontent-wog-c15="" class="inputForm "><input _ngcontent-wog-c15="" name="valor_tot" ngmodel=""
              required="" type="text" ng-reflect-required="" ng-reflect-name="valor_tot" ng-reflect-model=""
              class="ng-untouched ng-pristine ng-invalid"><label _ngcontent-wog-c15=""
              style="background-color: white; padding: 1px">Valor total*</label></div>
        </div>
        <div _ngcontent-wog-c15="" class="col-md-3">
          <div _ngcontent-wog-c15="" class="inputForm "><input _ngcontent-wog-c15="" name="comissao" ngmodel=""
              required="" type="text" ng-reflect-required="" ng-reflect-name="comissao" ng-reflect-model=""
              class="ng-untouched ng-pristine ng-invalid"><label _ngcontent-wog-c15=""
              style="background-color: white; padding: 1px">Comissao*</label></div>
        </div>
        <div _ngcontent-wog-c15="" class="col-md-3">
          <div _ngcontent-wog-c15="" class="inputForm "><input _ngcontent-wog-c15="" name="cep" ngmodel="" required=""
              type="text" ng-reflect-required="" ng-reflect-name="cep" ng-reflect-model=""
              class="ng-untouched ng-pristine ng-invalid"><label _ngcontent-wog-c15=""
              style="background-color: white; padding: 1px">Cep*</label></div>
        </div>
        <div _ngcontent-wog-c15="" class="col-md-3">
          <div _ngcontent-wog-c15="" class="inputForm "><input _ngcontent-wog-c15="" name="endereco" ngmodel=""
              required="" type="text" ng-reflect-required="" ng-reflect-name="endereco" ng-reflect-model=""
              class="ng-untouched ng-pristine ng-invalid"><label _ngcontent-wog-c15=""
              style="background-color: white; padding: 1px">Endereco*</label></div>
        </div>
        <div _ngcontent-wog-c15="" class="col-md-3">
          <div _ngcontent-wog-c15="" class="inputForm "><input _ngcontent-wog-c15="" name="bairro" ngmodel=""
              required="" type="text" ng-reflect-required="" ng-reflect-name="bairro" ng-reflect-model=""
              class="ng-untouched ng-pristine ng-invalid"><label _ngcontent-wog-c15=""
              style="background-color: white; padding: 1px">Bairro*</label></div>
        </div>
        <div _ngcontent-wog-c15="" class="col-md-3">
          <div _ngcontent-wog-c15="" class="inputForm "><input _ngcontent-wog-c15="" name="numero" ngmodel=""
              required="" type="text" ng-reflect-required="" ng-reflect-name="numero" ng-reflect-model=""
              class="ng-untouched ng-pristine ng-invalid"><label _ngcontent-wog-c15=""
              style="background-color: white; padding: 1px">Numero*</label></div>
        </div>
        <div _ngcontent-wog-c15="" class="col-md-3">
          <div _ngcontent-wog-c15="" class="inputForm "><input _ngcontent-wog-c15="" name="cidade" ngmodel=""
              required="" type="text" ng-reflect-required="" ng-reflect-name="cidade" ng-reflect-model=""
              class="ng-untouched ng-pristine ng-invalid"><label _ngcontent-wog-c15=""
              style="background-color: white; padding: 1px">Cidade*</label></div>
        </div>
        <div _ngcontent-wog-c15="" class="col-md-3">
          <div _ngcontent-wog-c15="" class="inputForm "><input _ngcontent-wog-c15="" name="estado" ngmodel=""
              required="" type="text" ng-reflect-required="" ng-reflect-name="estado" ng-reflect-model=""
              class="ng-untouched ng-pristine ng-invalid"><label _ngcontent-wog-c15=""
              style="background-color: white; padding: 1px">Estado*</label></div>
        </div>
        <div _ngcontent-wog-c15="" class="col-md-3">
          <div _ngcontent-wog-c15="" class="inputForm "><input _ngcontent-wog-c15="" name="description" ngmodel=""
              required="" type="text" ng-reflect-required="" ng-reflect-name="description" ng-reflect-model=""
              class="ng-untouched ng-pristine ng-invalid"><label _ngcontent-wog-c15=""
              style="background-color: white; padding: 1px">Descrição*</label></div>
        </div>
        <div _ngcontent-wog-c15="" class="col-md-3">
          <div _ngcontent-wog-c15="" class="inputForm "><input _ngcontent-wog-c15="" name="price" ngmodel="" required=""
              type="number" ng-reflect-required="" ng-reflect-name="price" ng-reflect-model=""
              class="ng-untouched ng-pristine ng-invalid"><label _ngcontent-wog-c15=""
              style="background-color: white; padding: 1px">price*</label></div>
        </div>
        <div _ngcontent-wog-c15="" class="col-md-3">
          <div _ngcontent-wog-c15="" class="inputForm "><input _ngcontent-wog-c15="" name="latitude" ngmodel=""
              required="" type="text" ng-reflect-required="" ng-reflect-name="latitude" ng-reflect-model=""
              class="ng-untouched ng-pristine ng-invalid"><label _ngcontent-wog-c15=""
              style="background-color: white; padding: 1px">Latitude*</label></div>
        </div>
        <div _ngcontent-wog-c15="" class="col-md-3">
          <div _ngcontent-wog-c15="" class="inputForm "><input _ngcontent-wog-c15="" name="longitude" ngmodel=""
              required="" type="text" ng-reflect-required="" ng-reflect-name="longitude" ng-reflect-model=""
              class="ng-untouched ng-pristine ng-invalid"><label _ngcontent-wog-c15=""
              style="background-color: white; padding: 1px">Longitude*</label></div>
        </div>
      </div>
      <button mat-raised-button color="primary" [disabled]="!f.valid">Submit</button>
    </form>
  </section>
</ng-container>
<ng-template #elseTemplate>
  <mat-spinner></mat-spinner>
</ng-template>
