<app-layout>
  <!-- <ng-container *ngIf="!isLoading; else elseTemplate"> -->

  <section>
    <div class="alert alert-danger text-center" *ngIf="error">
      The given data was invalid.
    </div>

    <div class="container">
      <div class="card" style="height: auto;">
        <form class="auth-form" fxLayoutAlign="center center" fxLayout="column" #f="ngForm" (ngSubmit)="onSubmit(f)">
          <div class="box">
            <div class="header">
              <h5 class="colors-name">Temporada / Aluguel / Venda </h5>
            </div>
            <input type="hidden" name="userId" [(ngModel)]="userId">
    
            <div class="row">
              <div class="col-md-3 ">
                <div class="inputForm">
                  <input name="title" ngModel placeholder="title" required type="text">
                </div>
              </div>
    
              <div class="col-md-3 ">
                <div class="inputFormTipo">
                  <mat-select name="negociacao" ngModel placeholder="Selecione a negociação" required>
                    <mat-option *ngFor="let neg of negociacao" [value]="neg">
                      {{neg}}
                    </mat-option>
                  </mat-select>
                </div>
              </div>
    
              <div class="col-md-3 ">
                <div class="inputFormTipo">
                  <mat-select name="tipo" ngModel placeholder="Selecione o tipo" required>
                    <mat-option *ngFor="let tip of tipo" [value]="tip">
                      {{tip}}
                    </mat-option>
                  </mat-select>
                </div>
              </div>
    
              <div class="col-md-3 ">
                <div class="inputForm">
                  <input name="areap" ngModel required id="areaP" type="text">
                  <label class="label" for="areaP">Area privativa*</label>
                </div>
              </div>
    
              <div class="col-md-3">
                <div class="inputForm">
                  <input name="areat" ngModel required id="areaT" type="text">
                  <label class="label" for="areaT">Area total*</label>
                </div>
              </div>
    
              <div class="col-md-3">
                <div class="inputForm">
                  <input name="numero_quartos" ngModel required type="text">
                  <label class="label">Quartos*</label>
                </div>
              </div>
    
              <div class="col-md-3">
                <div class="inputForm">
                  <input name="iptu" ngModel required type="text">
                  <label class="label">IPTU*</label>
                </div>
              </div>
    
              <div class="col-md-3 ">
                <div class="inputForm">
                  <mat-select id="garagem" name="garagem" ngModel placeholder="Tem garagem?" required>
                    <mat-option *ngFor="let gar of garagem" [value]="gar">
                      {{gar}}
                    </mat-option>
                  </mat-select>
                </div>
              </div>
    
              <div class="col-md-3">
                <div class="inputForm">
                  <input name="banheiros" ngModel required type="text">
                  <label class="label">Banheiros*</label>
                </div>
              </div>
    
              <div class="col-md-3">
                <div class="inputForm">
                  <mat-select id="garagem" name="situacao" ngModel placeholder="Situação do imovel" required>
                    <mat-option *ngFor="let sit of situacao" [value]="sit">
                      {{sit}}
                    </mat-option>
                  </mat-select>
                </div>
              </div>
    
              <div class="col-md-3">
                <div class="inputForm ">
                  <input name="valor_cond" ngModel required id="valorC" type="text">
                  <label class="label" for="valorC">Valor de Condominio*</label>
                </div>
              </div>
    
              <div class="col-md-3">
                <div class="inputForm ">
                  <input name="valor_tot" ngModel required type="text">
                  <label class="label">Valor total*</label>
                </div>
              </div>
    
              <div class="col-md-3">
                <div class="inputForm">
                  <input name="comissao" ngModel required type="text">
                  <label class="label">Comissao*</label>
                </div>
              </div>
    
              <div class="col-md-3">
                <div class="inputForm ">
                  <input name="cep" ngModel required type="text">
                  <label class="label">Cep*</label>
                </div>
              </div>
    
              <div class="col-md-3">
                <div class="inputForm">
                  <input name="endereco" ngModel required type="text">
                  <label class="label">Endereco*</label>
                </div>
              </div>
    
              <div class="col-md-3">
                <div class="inputForm">
                  <input name="bairro" ngModel required type="text">
                  <label class="label">Bairro*</label>
                </div>
              </div>
    
    
              <div class="col-md-3">
                <div class="inputForm ">
                  <input name="numero" ngModel required type="text">
                  <label class="label">Numero*</label>
                </div>
              </div>
    
              <div class="col-md-3">
                <div class="inputForm ">
                  <input name="cidade" ngModel required type="text">
                  <label class="label">Cidade*</label>
                </div>
              </div>
    
              <div class="col-md-3">
                <div class="inputForm ">
                  <input name="estado" ngModel required type="text">
                  <label class="label">Estado*</label>
                </div>
              </div>
    
              <div class="col-md-3">
                <div class="inputForm ">
                  <input name="description" ngModel required type="text">
                  <label class="label">Descrição*</label>
                </div>
              </div>
    
              <div class="col-md-3">
                <div class="inputForm ">
                  <input name="price" ngModel required type="number">
                  <label class="label">price*</label>
                </div>
              </div>
    
              <div class="col-md-3">
                <div class="inputForm">
                  <input name="latitude" ngModel required type="text">
                  <label class="label">Latitude*</label>
                </div>
              </div>
    
              <div class="col-md-3">
                <div class="inputForm ">
                  <input name="longitude" ngModel required type="text">
                  <label class="label">Longitude*</label>
                </div>
              </div>
            </div>
            <div>
              <label for="image">Image</label>
              <input accept="image/*" id="image" name="image" ngModel placeholder="image" type="file" (change)="imageUploaded($event.target.files)">
            </div>
            <br>
          </div>
          <button mat-raised-button color="primary" [disabled]="!f.valid">Submit</button>
        </form>
      </div>
    </div>
  </section>

  <!-- </ng-container> -->
</app-layout>
<!-- <ng-template #elseTemplate>
  <mat-spinner></mat-spinner>
</ng-template>  -->
