

.mat-style mat-select {
    border: 1px solid #ccc;
    width: 15rem;
    height: 50px;
    border-radius: 50px;
    padding: 10px;
}

.imoveis span + p {
    color: rgb(14, 204, 14);
    font-size: 25px;
}

.franqueado span + p {
    color: rgb(14, 204, 14);
    font-size: 25px;
}

.imoveis {
    margin: .5rem 0;
}

.franqueado {
    margin: .5rem 0;
}
