<app-layout>
<!-- <ng-container *ngIf="!isLoading; else spinner_con"> -->
  <section>
    <div class="alert alert-danger text-center" *ngIf="error">
        The given data was invalid.
    </div>
    <form class="auth-form" fxLayoutAlign="center center" fxLayout="column" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <input type="hidden" name="propertyId" [(ngModel)]="propertyId">
        <mat-form-field hintLabel="title">
            <input type="text" matInput placeholder="title" name="title" ngModel>
            <mat-hint align="end">Valid title</mat-hint>
            <mat-error>Valid title</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="description">
            <input type="text" matInput placeholder="description" name="description" ngModel>
            <mat-hint align="end">Valid description</mat-hint>
            <mat-error>Valid description</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="price">
            <input type="number" matInput placeholder="price" name="price" ngModel>
            <mat-hint align="end">Valid price</mat-hint>
            <mat-error>Valid price</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="latitude">
            <input type="text" matInput placeholder="latitude" name="latitude" ngModel>
            <mat-hint align="end">Valid latitude (example: 31.5204 for lahore)</mat-hint>
            <mat-error>Valid latitude</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="longitude">
            <input type="text" matInput placeholder="longitude" name="longitude" ngModel>
            <mat-hint align="end">Valid longitude (example: 74.3587 for lahore)</mat-hint>
            <mat-error>Valid longitude</mat-error>
        </mat-form-field>
        <div class="form-group col-12 col-sm-6 col-md-4 d-inline-block">
            <label for="image">Image</label>
            <input type="file" accept="image/*" (change)="imageUploaded($event.target.files)" placeholder="image" id="image" name="image" ngModel>
        </div>
        <br>
        <button mat-raised-button color="primary" [disabled]="!f.valid">Submit</button>
    </form>
</section>
<!-- </ng-container>
<ng-template #spinner_con>
  <mat-spinner></mat-spinner>
</ng-template> -->
</app-layout>