<ng-container *ngIf="!isLoading; else elseTemplate">
  <button class="btn btn-primary" (click)="getData()">getData</button>
  <ng-container *ngIf="userData; else elseTemplate">
      <ul class="list-group user_detail_con">
          <li class="list-group-item active">User Data</li>
          <li class="list-group-item">
              <span class="heading">ID</span>
              <span class="space">|</span>
              <span class="value">{{ userData.data.id }}</span>
          </li>
          <li class="list-group-item">
              <span class="heading">User Role</span>
              <span class="space">|</span>
              <span class="value">{{ userData.data.role_name }}</span>
          </li>
          <li class="list-group-item">
              <span class="heading">Name</span>
              <span class="space">|</span>
              <span class="value">{{ userData.data.name }}</span>
          </li>
          <li class="list-group-item">
              <span class="heading">Email</span>
              <span class="space">|</span>
              <span class="value">{{ userData.data.email }}</span>
          </li>
          <li class="list-group-item">
              <span class="heading">Phone Number</span>
              <span class="space">|</span>
              <span class="value">{{ userData.data.phone_number }}</span>
          </li>
          <li class="list-group-item">
              <span class="heading">Region</span>
              <span class="space">|</span>
              <span class="value">{{ userData.data.region }}</span>
          </li>
          <li class="list-group-item">
              <span class="heading">Segment</span>
              <span class="space">|</span>
              <span class="value">{{ userData.data.segment }}</span>
          </li>
          <!-- <li class="list-group-item">
              <span class="heading">Linked User</span>
              <span class="space">|</span>
              <span class="value">{{ userData.data.linked_user }}</span>
          </li> -->
          <!-- <li class="list-group-item">
              <span class="heading">CPF</span>
              <span class="space">|</span>
              <span class="value">{{ userData.data.client_user_cpf }}</span>
          </li>
          <li class="list-group-item">
              <span class="heading">User ID</span>
              <span class="space">|</span>
              <span class="value">{{ userData.data.id_of_user_in_system }}</span>
          </li> -->
          <li class="list-group-item">
              <span class="heading">Place Of Issue</span>
              <span class="space">|</span>
              <span class="value">{{ userData.data.place_of_issue }}</span>
          </li>
          <li class="list-group-item">
              <span class="heading">Telephone</span>
              <span class="space">|</span>
              <span class="value">{{ userData.data.telephone }}</span>
          </li>
          <li class="list-group-item">
              <span class="heading">Profession</span>
              <span class="space">|</span>
              <span class="value">{{ userData.data.profession }}</span>
          </li>
          <li class="list-group-item">
              <span class="heading">Profile Image</span>
              <span class="space">|</span>
              <span class="value"><img class="w-50" src="{{ userData.data.profile_image }}" alt=""></span>
          </li>
          <li class="list-group-item">
              <span class="heading">Mariage Status</span>
              <span class="space">|</span>
              <span class="value">{{ userData.data.mariage_status === 1 ? "Maried" : "Single" }}</span>
          </li>
          <li class="list-group-item">
              <span class="heading">Gender</span>
              <span class="space">|</span>
              <span class="value">{{ userData.data.gender === 1 ? "Female" : "Male" }}</span>
          </li>
          <li class="list-group-item">
              <span class="heading">Date Of Birth</span>
              <span class="space">|</span>
              <span class="value">{{ userData.data.date_of_birth }}</span>
          </li>
          <li class="list-group-item">
              <span class="heading">Zip Code</span>
              <span class="space">|</span>
              <span class="value">{{ userData.data.zip_code }}</span>
          </li>
          <li class="list-group-item">
              <span class="heading">Number</span>
              <span class="space">|</span>
              <span class="value">{{ userData.data.number }}</span>
          </li>
          <li class="list-group-item">
              <span class="heading">Neighborhood</span>
              <span class="space">|</span>
              <span class="value">{{ userData.data.neighborhood }}</span>
          </li>
          <li class="list-group-item">
              <span class="heading">Complement</span>
              <span class="space">|</span>
              <span class="value">{{ userData.data.complement }}</span>
          </li>
          <li class="list-group-item">
              <span class="heading">State</span>
              <span class="space">|</span>
              <span class="value">{{ userData.data.state }}</span>
          </li>
          <li class="list-group-item">
              <span class="heading">UF</span>
              <span class="space">|</span>
              <span class="value">{{ userData.data.uf }}</span>
          </li>
          <!-- <li class="list-group-item">
              <span class="heading">CNPJ</span>
              <span class="space">|</span>
              <span class="value">{{ userData.data.franchise_user_cnpj }}</span>
          </li> -->
          <li class="list-group-item">
              <span class="heading">Company Name</span>
              <span class="space">|</span>
              <span class="value">{{ userData.data.company_name }}</span>
          </li>
      </ul>
  </ng-container>
  <ng-template #elseTemplate>

  </ng-template>
</ng-container>
<ng-template #elseTemplate>
  <mat-spinner></mat-spinner>
</ng-template>
