<mat-sidenav-container>
    <mat-sidenav #sideBar>
        <mat-nav-list>
            <mat-list-item>
                <a matLine routerLink="/sign-up" (click)="sideBar.close()">Sign Up</a>
               
            </mat-list-item>
            <mat-list-item>
                <a matLine routerLink="/sign-in" (click)="sideBar.close()">Sign In</a>
                
            </mat-list-item>
            <mat-list-item>
                <a matLine routerLink="/trainings" (click)="sideBar.close()">Trainings</a>
                
            </mat-list-item>
            <mat-list-item>
                <a matLine (click)="sideBar.close()">Logout</a>
               
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- <app-header (sideBartoggle)="sideBar.toggle()"></app-header> -->
        <main>
            <ng-content></ng-content>
        </main>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
