<style>
  * {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif !important;
}

.card2 {
  position: relative;
  margin-right: 100px;
	max-width: 2675px;
  height: 250px;
  width: 290px;
	border-radius: 15px;
	margin: 0 auto;
	padding: 20px 20px;
	box-shadow: 17px 0px 36px rgba(0,0,0, .2);
	transition: .5s;
	overflow: hidden;
}
.hit2 {
  position: absolute;
  width: 150px;
  background: linear-gradient(-45deg, #C0392B, #F64747);
  font: bold 20px;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(255,255,255,0.7);
	padding: 5px 0;
	bottom: 90%;
	left: 60%;
	transform: rotate(45deg);
}
.col-xs-12 {
	margin: 0 0 60px 0;
}
.col-sm-4:nth-child(1) .card2,
.col-sm-4:nth-child(1) .card2 .title .fa {
	background: linear-gradient(-45deg, #fff, #fff);
}
.col-sm-4:nth-child(2) .card2,
.col-sm-4:nth-child(2) .card2 .title .fa {
	background: linear-gradient(-45deg, #C0C0C0, #00BFC9);
}
.col-sm-4:nth-child(3) .card2,
.col-sm-4:nth-child(3) .card2 .title .fa {
	background: linear-gradient(-45deg, #FFD700, #FF6BFF);
}
.title .fa {
	color: #fff;
	font-size: 60px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	text-align: center;
	line-height: 100px;
	box-shadow: 10px 10px 10px rgba(0,0,0, .1)
}
.title h2 {
	color: #fff;
	font-size: 28px;
	position: relative;
	margin: 20px 0 0;
	padding: 0;
	z-index: 2;
}
.price {
	position: relative;
	z-index: 2;
}
.price h4 {
	margin: 0;
	padding: 20px 0;
	color: #fff;
	font-size: 60px;
}
.option {
	position: relative;
	z-index: 2;
}
.option ul {
	margin: 0;
	padding: 0;
}
.option ul li {
	margin: 0 0 20px;
	padding: 0;
	color: #fff;
	font-size: 16px;
	list-style: none;
}
.card2 a {
	font-size: 16px;
	position: relative;
	z-index: 2;
	background: #fff;
	color: #262626;
	width: 150px;
	height: 40px;
	line-height: 40px;
	border-radius: 40px;
	display: block;
	margin: 20px auto;
	box-shadow: 10px 5px 10px rgba(0,0,0, .2);
}
.card2 a:hover {
	cursor: pointer;
	text-decoration: none;
}

</style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<app-layout>
  <section class="container-global" style="padding: 25px;">
    <div style="height: auto; margin-left: 25px;">
        <div class="card box" style="width: 100%; height: auto;" >
          <div class="header" style="padding: 25px;">
            <div class="modal fade bd-example-modal-xl" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" style="margin-top: 100px;">
              <div class="modal-dialog modal-xl" role="document" style="width: 100vw;">
                <div class="modal-content" >
                  <div *ngIf="selected">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Modal {{selected.title}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">

                        {{selected.title}}
                    </div>
                  </div>
                </div>
              </div>
            </div>

        <div class="" *ngIf="props" style="margin-top: 20px;">
          <div class="section2">
            <div class="container-fluid">
              <div class="container">
                <div class="row">
                  <h5 class="colors-name">Em andamento</h5>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">nome</th>
                        <th scope="col">email solicitante</th>
                        <th scope="col">satus</th>
                        <th scope="col">acoes</th>
                      </tr>
                    </thead>
                    <tbody *ngFor = "let ti of props">
                      <tr>
                        <th scope="row">{{ti.id}}</th>
                        <td>{{ti.title}}</td>
                        <td>{{ti.email_dono}}</td>
                        <td>PENDENTE</td>
                        <td>
                          <a (click)="set(ti)" data-toggle="modal" data-target="#exampleModal" style="cursor: pointer;">
                            vizualizar
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
          

    </div>

</div>
    <ng-template #elseTemplate>
      erro
    </ng-template>
  </section>
</app-layout>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
